.header {
  &__title {
    font-family: "Comfortaa", cursive;
    padding-left: 55px;
    padding-top: 20px;
    font-size: 45px;
    color: rgb(15, 167, 108);
  }
}
.section {
  margin-left: 30px;
  display: flex;
  &__title {
    font-family: "Hind", sans-serif;
    color: rgb(15, 167, 108);
    font-size: 30px;
    margin-left: 30px;
  }
}

.form {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__input {
    border-radius: 13px;
    border: solid 1px rgb(15, 167, 108);
    height: 20px;
    width: 400px;
    &--check {
      margin-left: 15px;
    }
  }
  &__button {
    margin-top: 20px;
    font-family: "Hind", sans-serif;
    background-color: rgb(165, 165, 165);
    border-radius: 13px;
    border: rgb(165, 165, 165) solid 1px;
    height: 26px;
    width: 180px;
  }
  &__label {
    display: flex;
    font-family: "Hind", sans-serif;
    color: rgb(95, 95, 95);
    padding: 5px;
    &--title {
        font-size: 25px;
      }}
  &__filter {
    display: flex;
    font-family: "Hind", sans-serif;
    color: rgb(95, 95, 95);
    padding: 5px;
    &--title {
      font-size: 25px;
    }
    &--selector {
      width: 130px;
      border-radius: 13px;
      height: 25px;
      font-family: "Hind", sans-serif;
      padding: 3px;
      margin-left: 10px;
    }
  }
  &__filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &--input {
      border-radius: 13px;
      border: solid 1px rgb(15, 167, 108);
      height: 20px;
      width: 130px;
    }
  }
}

.table {
  font-family: "Hind", sans-serif;
  &__thead {
    background-color: rgb(177, 177, 177);
  }
}
